.container {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px !important;
  justify-content: space-between;
  flex-direction: column;
  padding: 8px;
  width: 100%;
  margin: 2px;
  min-height: 100px;
  display: flex;
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0);
}
