@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("ttf"),
      url("/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("ttf");
  }

  html {
    @apply font-inter antialiased;
  }

  body {
    @apply bg-background text-foreground;
  }
}
